.App {
  min-height: 100vh;
 /* background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); */

 background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);


}

.search-form  {
  min-height: 10vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}
 
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
  display: flex;
  position:sticky;
  justify-content: center;
  align-items: center;
  color: #5e0663;
  text-transform: uppercase;
  font-style: oblique;
  font-size: 4em;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  font-style: italic;
  font-size: 1em;
  color: linear-gradient(120deg, #d4fc79 30%, #96e6a1 100%);;
  text-align: center;
}